body{
    background-color: black;
    color: white;
}

h1{
    background-color: silver;
    color: green;
}

a{
    text-decoration: none;
    color: blue;
    background-color: aliceblue;
}